%div
  - matchup.each do |pokemon|
    %div
      = link_to pokemon.name.capitalize, matchup_path(pokemon, matchup_ids: matchup.map(&:id)), method: :patch

      #{pokemon.types.to_sentence}

      = image_tag(pokemon.sprite_url)
