%div
  = link_to matchup.first.name.capitalize, matchup_path(matchup.first, matchup_ids: matchup.map(&:id)), method: :patch

  VS. 

  = link_to matchup.last.name.capitalize, matchup_path(matchup.last, matchup_ids: matchup.map(&:id)), method: :patch
